<tr class="d-none bg-white p-4 border rounded-md">
  <td class="w-1/2 text-lg font-semibold text-blue-500 hover:underline">
    <%= link_to task.title, task %>
  </td>
  <td class="w-1/6 text-gray-500"><%= task.due_date %></td>
  <td class="w-1/6"><%= task.category.name %></td>
  <td class="w-1/6"><%= task.completed ? 'Completed' : 'Pending' %></td>
</tr>