
<div class="container mx-auto mt-8">

  <!-- New Task button -->
  <div class="mt-4 mb-6">
    <%= link_to "New Task", new_task_path, class: "bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700" %>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <!-- Display tasks for today -->
    <div class="mb-4">
      <h2 class="text-xl font-semibold mb-2">Tasks Due Today</h2>
      <%= render partial: 'task', collection: @tasks_today %>
    </div>

    <!-- Display the rest of the tasks -->
    <div>
      <h2 class="text-xl font-semibold mb-2">All Tasks</h2>
      <%= render partial: 'task', collection: @tasks %>
    </div>
  </div>

  
</div>
