<header class="bg-blue-500 p-4">
  <nav class="container mx-auto flex items-center justify-between">
    <div>
      <a href="/" class="text-white text-lg font-semibold">TaskManager</a>
    </div>
    <div>
      <a href="/tasks" class="text-white mr-4">Tasks</a>
      <a href="/categories" class="text-white">Categories</a>
      
    </div>
  </nav>
</header>
