<div class="p-4 sm:ml-64 mt-14">
  
  <h1 class="text-3xl font-semibold mb-6">Categories</h1>
  
  <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 ">
    <div >
      
      <!-- Display tasks -->
      <div class="mb-4">
        <%= render @categories %>
      </div>

    </div>
  </div>
</div>
